{#  https://api.drupal.org/api/drupal/core!modules!system!templates!menu.html.twig/8
    menu_name: The machine name of the menu.
    items: A nested list of menu items. Each menu item contains:
      attributes: HTML attributes for the menu item.
      below: The menu item child items.
      title: The menu link title.
      url: The menu link url, instance of \Drupal\Core\Url
      localized_options: Menu link localized options.
#}

{# All menu and submenu items #}
 
        
        
          <ul class="navbar-nav ml-auto">
          {% for item in items %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#{{ item.title }}">{{ item.title }}</a>
            </li>
          {% endfor %}
          </ul>
        
  
