<section class="cta">
      <div class="cta-content">
        <div class="container">
          <h2>{{content.field_title1.0}}<br>{{content.field_title2.0}}</h2>
          <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">{{content.field_button.0}}</a>
        </div>
      </div>
      <div class="overlay"></div>
    </section>