<section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>{{content.field_title1.0}}
          {{content.field_icon_image.0}}
          {{content.field_title2.0}}</h2>
<ul class="list-inline list-social">
          {{content.field_contact_link_section}}
          </ul>

     </div>
</section>


          