           
  <section class="features" id="features">
      <div class="container">
        <div class="section-heading text-center">
          <h2>{{content.field_feature_title.0}}</h2>
          <p class="text-muted">{{content.field_feature_description.0}}</p>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-4 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                  
                    <img src="{{ file_url(content.field_feature_image['#items'].entity.uri.value) }}" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 my-auto">
            <div class="container-fluid">
           
                     {{content.field_feature_single_section}}
                    
                    </div>
                 </div>
             </div>
     </div>
     </section>