

   <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">{{content.field_title.0}}</h1>
              <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">{{content.field_button_title.0}}</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                  
                    <img src="{{ file_url(content.field_banner_image['#items'].entity.uri.value) }}" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>