


                <div class="col-lg-6">
                  <div class="feature-item">
                    {{content.field_ic}}
                    <h3>{{content.field_feature_title.0}}</h3>
                    <p class="text-muted">{{content.field_feature_body.0}}</p>
                  </div>
                </div>
           