
<section class="download bg-primary text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">{{content.field_title.0}}</h2>
            <p>{{content.field_description.0}}</p>
            <div class="badges">
            <div class="badge-link">
               {{content.field_badge_image1}}
             </div>
            <div class="badge-link">
              {{content.field_badge_image2}}
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
